body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    margin-left: 72px;
    margin-top: 36px;
    height: 10vh;
}

.bubble {
    margin-top: 12vh;
    margin-left: 72px;
    margin-right: 72px;
    background-color: white;
    width: calc(100vw - 144px);
    border-radius: 20px;
    justify-content: right;
}

@supports (mask-image: paint(smooth-corners)) {
    .el.is-loaded {
        border-radius: 0;
        mask-image: paint(smooth-corners);
        --smooth-corners: 10;
    }
}

.content {
    font-family: 'Raleway', sans-serif;
    width: auto;
    margin-top: 4vw;
    margin-bottom: 4vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

.title-content {
    margin-bottom: 60px;
    font-size: x-large;
    font-weight: 400;
    text-align: justify;
}

.btn-primary {
    border-color: #fefb1e;
    background-color: #fefb1e;
    color:black;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: large;
}

.bubble2 {
    margin-top: 16px;
    background-color: black;
    width: fit-content;
    border-radius: 20px;
    justify-content: right;
    padding: 8px;
    padding-left: 16px;
    margin-bottom: 48px;
}
